{% extends 'layouts/dashboard_base.html' %}

{% block title %}Invoices | Smart Invoice{% endblock %}

{% block page_title %}Invoices{% endblock %}

{% block content %}

<div class="bg-white p-6 rounded-xl shadow">

    <h2 class="text-2xl font-bold mb-6">
        Create Invoice
    </h2>

    <!-- CUSTOMER -->
    <div class="mb-4">

        <label class="block mb-2 font-medium">
            Select Customer
        </label>

        <select id="customerSelect" class="w-full border rounded-lg px-4 py-3">

            <option>Select Customer</option>

            {% for customer in customers %}
            <option value="{{ customer['id'] }}">
                {{ customer["customer_name"] }}
            </option>
            {% endfor %}

        </select>

    </div>

    <!-- PRODUCT -->
    <div class="grid grid-cols-3 gap-4">

        <div>

            <label class="block mb-2 font-medium">
                Product
            </label>

            <select id="productSelect" class="w-full border rounded-lg px-4 py-3">

                <option>Select Product</option>

                {% for product in products %}
                <option value="{{ product['id'] }}" data-name="{{ product['product_name'] }}" data-price="{{ product['price'] }}"
                    data-gst="{{ product['gst_percentage'] }}">
                    {{ product["product_name"] }}
                </option>
                {% endfor %}

            </select>

        </div>

        <div>

            <label class="block mb-2 font-medium">
                Quantity
            </label>

            <input type="number" id="quantity" min="1" value="1" class="w-full border rounded-lg px-4 py-3">

        </div>

        <div class="flex items-end">

            <button type="button" id="addItemBtn" class="bg-cyan-500 text-white px-5 py-3 rounded-lg">
                Add Item
            </button>

        </div>

    </div>

    <!-- INVOICE ITEMS -->
    <div class="mt-8">

        <h3 class="text-xl font-semibold mb-4">
            Invoice Items
        </h3>

        <div class="bg-gray-50 rounded-lg overflow-hidden">

            <table class="w-full">

                <thead class="bg-gray-200">

                    <tr>
                        <th class="text-left px-4 py-3">Product</th>
                        <th class="text-left px-4 py-3">Qty</th>
                        <th class="text-left px-4 py-3">Price</th>
                        <th class="text-left px-4 py-3">GST %</th>
                        <th class="text-left px-4 py-3">Total</th>
                        <th class="text-left px-4 py-3">Action</th>
                    </tr>

                </thead>

                <tbody id="invoiceItemsBody">

                    <tr>
                        <td colspan="5" class="text-center py-4 text-gray-500">
                            No items added
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

    <!-- TOTALS -->
    <div class="mt-8 flex justify-end">

        <div class="w-80 bg-gray-50 p-4 rounded-lg">

            <div class="flex justify-between mb-2">
                <span>Subtotal</span>
                <span id="subtotal">₹0.00</span>
            </div>

            <div class="flex justify-between mb-2">
                <span>GST Amount</span>
                <span id="gstAmount">₹0.00</span>
            </div>

            <hr class="my-2">

            <div class="flex justify-between font-bold text-lg">
                <span>Grand Total</span>
                <span id="grandTotal">₹0.00</span>
            </div>

        </div>

    </div>

    <!-- Save Invoive -->
    <div class="mt-6 flex justify-end">

        <button class="bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded-lg">
            Save Invoice
        </button>

    </div>

</div>

<script src="{{ url_for('static', filename='js/invoice.js') }}"></script>

{% endblock %}